
<br><br><h1  style="text-align:center;"> All users  </h1><br><br>
<table id="example" class="table table-striped table-bordered" style="width:100%">
 <thead>
  <tr>
   <th>ID</th>
   <th>Email</th>
   <th>Role</th>
  </tr>
 </thead>
 <tbody>
  
   <% if current_user.role == 'admin' %>
    <% @users.each do |user| %>
     <tr>
      <td> <%= user.id%></td>
      <td><%= user.email%></td>
      <td><%= user.role%></td>
     </tr>
    <% end %> 
   <% end %>
  
 </tbody>
</table>

    <h4>You are logged in as: </h4><%= current_user.email %><br>
    <h4>Role: </h4><%= current_user.role %><br><br><br>





